
<!-- <div class="bar-loader" *ngIf="loaderObject?.showLoader">
  <h4>Loading.........</h4>
</div> -->

<div id="wrapper">
  <!-- top nav bar -->
  <nav class="navbar bg">
    <a class="navbar-brand name" href="#">
      <!-- {{selectedPage | titlecase}} -->
    </a>
    <div style="display:-webkit-inline-box;">
      <!-- <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form> -->
      <ul class="navbar-nav" (click)="displayProfile=!displayProfile">
        <li class="nav-item">
          <a class="nav-link"><i class="material-icons">account_circle</i><span class="sr-only">(current)</span></a>
        </li>
      </ul>  
    </div>  
  </nav>
  <!-- top nav bar end -->

  <!-- profile-card -->
  <div class="profile-card" id="profile-card" [hidden]="displayProfile" tabindex='1' (blur)="displayProfile=true">
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <img class="profile-card-pic" src="{{log.getData('picUrl')}}" *ngIf="log.getData('picUrl')">
      </div>
      <div class="col-sm-8 col-xs-8">
        <div class="coloumn-middle">
          <div class="align-middle">
            <div class="row">
              <div class="profile-card-name">{{log.getData('name')}}</div>
            </div>
            <div class="row">
              <div class="profile-card-role">{{log.getData('role')}}</div>
            </div>
            <div class="row">
              <div class="profile-card-email">
                {{log.getData('email')}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-card-footer">
      <div class="col-sm-6 col-xs-6">
        <a [routerLink]="['/account']" class="btn btn-default" style="color: #333" (click)="displayProfile=true">Account</a>
      </div>
      <div class="col-sm-6 col-xs-6" routerLinkActive="active" data-toggle="modal" data-target=".bs-example-modal-sm">
        <a class="btn btn-default custom-buttons" routerLinkActive="active" style="color: #333">Logout</a>
      </div>
    </div>
  </div>
  <!-- profiel-card -end -->

  <!-- Sidebar -->
  <div id="sidebar-wrapper" data-color="purple">
    <img src="/assets/school.jpg" class="school-img" alt="school-img">
    <div class="overlay"></div>
    <img src="assets/icons/logo.png" class="logo">
    <ul class="sidebar-nav">
      <li class="sidebar-items" *ngIf="role=='admin'"></li>
      <li *ngFor="let page of pages; let i=index" class="sidebar-items">
        <a (click)="getSelectedLink(page.title)" [routerLink]="[page.url]" routerLinkActive="active" (click)="getSelectedLink(page.title)">
            <i class="material-icons"> {{page.icon}}</i><span class="page-title1">{{page.title}}</span>
        </a>
      </li>
      <li class="sidebar-items">
        <a (click)="getSelectedLink('Account')" [routerLink]="['/account']" routerLinkActive="active">
            <i class="material-icons">account_box</i><span>Account</span> 
        </a>
      </li>
      <li class="side-items" *ngIf="role=='admin'">
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="material-icons">note_add</i><span>ADD</span>
             </a>
        <ul class="collapse list-unstyled" id="pageSubmenu" *ngIf="role=='admin'">
          <!-- <li class="sidebar-items" >
              <a (click)="getSelectedLink('Time Table')" [routerLink]="['/time-table']" routerLinkActive="active">
                 <i class="material-icons">av_timer</i><span> Time Table</span>
             </a>
          </li> -->
          <!-- <li class="sidebar-items" >
               <a (click)="getSelectedLink('Food Menu')" [routerLink]="['/foodmenu']" routerLinkActive="active">
                <i class="material-icons">room_service</i><span> Food Menu</span> 
              </a>
          </li> -->
          <li class="sidebar-items" >
                   <a (click)="getSelectedLink('Student')" [routerLink]="['/add-student']" routerLinkActive="active">
                    <i class="material-icons">face</i><span>Student</span>        
                  </a>
          </li>
          <!-- <li class="sidebar-items"  style="padding-bottom: 55px;">
                   <a (click)="getSelectedLink('Employee')" [routerLink]="['/add-employee']" routerLinkActive="active">
                    <i class="material-icons">airline_seat_recline_extra</i><span>Employee</span>      
                  </a>
          </li> -->
        </ul>
      </li>
    </ul>
  </div>
  <!-- <button class="nav-btn1" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></button> -->
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div style="display:none" GoogleChart></div>
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
          You will be logged out!
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
                 </button>
      </div>
      <div class="modal-footer">
        <button [routerLink]="['/login']" (click)="logout()" data-dismiss="modal" class="btn btn-primary btn-confirm">Confirm</button>
      </div>
    </div>
  </div>
</div>



<!-- modal -->
<!-- <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-header">
        You will be logged out!
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-footer">
      <button [routerLink]="['/login']" (click)="logout()" data-dismiss="modal" class="btn btn-primary">Confirm</button>
    </div>
  </div>
</div> -->


