<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-panel stats-card lighten-1">
        <div class="card-header">
          <i class="material-icons">report</i>
        </div>
        <div class="card-content">
          <p>Complaints</p>
          <h3 class="title">145</h3>
        </div>
        <hr class="last-line">
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-panel stats-card lighten-1 ">
        <div class="card-header green">
          <i class="material-icons">thumb_up</i>
        </div>
        <div class="card-content">
          <p>Appreciations</p>
          <h3 class="title">101</h3>
        </div>
        <hr class="last-line">
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card-panel stats-card lighten-1">
        <div class="card-header red">
          <i class="material-icons">feedback</i>
        </div>
        <div class="card-content">
          <p>Suggestions</p>
          <h3 class="title">140</h3>
        </div>
        <hr class="last-line">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-6">
      <div class="card-panel stats-card lighten-1">
        <div class="card-header blue">
          <i class="material-icons">message</i>
        </div>
        <div class="card-content">
          <p>Messages</p>
          <h3 class="title">101</h3>
        </div>
        <hr class="last-line">
      </div>
    </div>
  </div>
</div>
<!-- new code -->
<div class="row" (window:resize)="onResize($event)">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card-flowchart">
      <div class="card-header">
        <i class="material-icons">insert_chart</i>
      </div>
      <div class="card-content">
        <p> complaint status and categorywise </p>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="row text-center">
              <loader [condition]="loader"></loader>
            </div>
            <div style="text-align: center" *ngIf="(responseByCategoryAndStatus == 0 &&  !loader)">No data to display</div>
            <div class="flot-chart-content" *ngIf="complaintByCategoryAndStatus" GoogleChart id="chart_by_category_status" [chartData]="complaintByCategoryAndStatus"
              [chartOptions]="categoryAndStatusChartOptions" chartType="BarChart" (onSelected)="onSelected($event)">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- second chart -->
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card-flowchart">
      <div class="card-header rose">
        <i class="material-icons">pie_chart</i>
      </div>
      <div class="card-content">
        <p>Complaint Statuswise</p>
        <div class="panel-body">
          <div class="flot-chart">
            <div class="row text-center">
              <loader [condition]="loader1"></loader>
            </div>
            <div style="text-align: center" *ngIf="(responseByStatus== 0 &&  !loader1)">No data to display</div>
            <div class="flot-chart-content" *ngIf="complaintByStatus" GoogleChart id="complaint_chart_by_status" [chartData]="complaintByStatus"
              [chartOptions]="complaintByStatusChartOptions" chartType="PieChart" (onSelected)="onSelected($event)">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- 
<fieldset class="the-fieldset">
  <legend class="the-legend">
    complaint status and categorywise <span> <i class="material-icons">cloud_download</i></span>

  </legend>
  <legend class="the-legend2">
    Complaint Statuswise<span> <i class="material-icons">cloud_download</i></span>
  </legend>
  <div class="row" (window:resize)="onResize($event)">
    <div class="col-lg-6 col-sm-12">
      <div class="panel-body margin-left">
        <div class="flot-chart">
          <div class="row text-center">
            <loader [condition]="loader"></loader>
          </div>
          <div style="text-align: center" *ngIf="(responseByCategoryAndStatus == 0 &&  !loader)">No data to display</div>
          <div class="flot-chart-content" *ngIf="complaintByCategoryAndStatus" GoogleChart id="chart_by_category_status" [chartData]="complaintByCategoryAndStatus"
            [chartOptions]="categoryAndStatusChartOptions" chartType="BarChart" (onSelected)="onSelected($event)"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6  col-sm-12">
      <div class="panel-body">
        <div class="flot-chart">
          <div class="row text-center">
            <loader [condition]="loader1"></loader>
          </div>
          <div style="text-align: center" *ngIf="(responseByStatus== 0 &&  !loader1)">No data to display</div>
          <div class="flot-chart-content" *ngIf="complaintByStatus" GoogleChart id="complaint_chart_by_status" [chartData]="complaintByStatus"
            [chartOptions]="complaintByStatusChartOptions" chartType="PieChart" (onSelected)="onSelected($event)">
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset> -->