/* new */
.table-card{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius:3px!important;
    color: rgba(0, 0, 0, 0.87)!important;
    background: #fff;
    font-weight: 300;
    padding: 0px;
}

.table-card .card-header{
  background:    linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 
    0 4px 20px 0px rgba(0, 0, 0, 0.12)
    , 0 7px 8px -5px rgba(156, 39, 176, 0.2);
    color: #FFFFFF;
    margin: -40px 15px 0;
    border-radius:3px!important;
    padding: 15px;
}

.table-card .nav-tabs{
    background: transparent;
    padding: 0;
    border: 0!important;
    border-radius: 3px;
}

.nav-tabs>li>a{
    background-color: transparent;
    border: 0 !important;
    color: #FFFFFF !important;
    font-weight: 500;
    padding: 10px 19px;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration-color: none;
   list-style: none;
}

.nav-tabs>li .material-icons{
margin:-1px 5px 0 0;
vertical-align: middle;
color: white;
}
.details{
    color:#555!important;
    font-weight:500;
    font-size: 14px;
    padding: 30px 19px;
    

}
.details tr{
    cursor: pointer;
}
.details thead th {
    color:#9c27b0!important;
}
.details tr td{
    padding: 10px;
    text-align: center;
}
.detail tr td .material-icons:hover{
    background: #9c27b0;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 
    0 7px 8px -5px rgba(156, 39, 176, 0.2);   
    text-decoration: none;
}
.details thead th i{
    margin:-1px 5px 0 0;
    vertical-align: middle;
    color:#9c27b0!important;
}

.badge{
    color:white;
    padding: 5px 10px;
}
.empty{
    padding: 16px;
}
.btn-block{
    background: #9c27b0;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 
    0 7px 8px -5px rgba(156, 39, 176, 0.2); 
    width:10%;
    border-color: #9c27b0;
    margin: auto;
    display:block;
    margin-bottom:-18px    
}

.table-tbody-hover tbody:hover {
    background-color: rgba(0,0,0,.075);
}

.option{
    padding-top: 22px!important;
}

.option button{
    cursor: pointer;
}

/* css for modal */

.complaint-modal{
    background: #9c27b0;
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 
    0 7px 8px -5px rgba(156, 39, 176, 0.2); 
    border-color: #9c27b0;
    /* position: absolute; */
    width: 95%;
    margin: -46px 14px 0px;
    border-radius: 3px;
   
}

.complaint-modal .modal-title{
    color: white;
    text-align: center;
    font-size:18px;
 
}
.student-pic{
    width: 30%;
}

.modal-table{
    color:#555!important;
    font-size: 14px;
}

.modal-table tbody td{
    padding-top: 7px;
    padding-bottom: 6px;
}

.edit-modal .modal-body{
    margin-top:16px;
}

.form-group{
    margin-bottom: 0rem!important;
    margin-top:10px;
    font-size: 14px;
}

.modal-footer .pull-right .material-icons{
    vertical-align: middle;
    padding-left: 4px;
    color:white;
}

.modal-footer .pull-right{
 background-color: #9c27b0;
 border-color: 1px solid #9c27b0;
 box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
  0 3px 1px -2px rgba(156, 39, 176, 0.2),
  0 1px 5px 0 rgba(156, 39, 176, 0.12);
  border-radius: 3px;
  color:white;
  font-size:16px;
}


/* for close-modal */
.btn-purple{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #9c27b0;
    border-color: 1px solid #9c27b0;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14),
     0 3px 1px -2px rgba(156, 39, 176, 0.2),
     0 1px 5px 0 rgba(156, 39, 176, 0.12);
     border: none;
     border-radius: 3px;
     position: relative;
     padding: 9px 19px;
     margin: -3px 0;
     font-size: 16px;
     float: right;
     font-weight: 300;
     color:white;
     /* width:65px!important;
     height: 65px!important; */
  }
  
  
  .btn-default[disabled]{
    background: #9c27b0;
    color: gray!important; 
    opacity: 1;
    font-size:16px;
  }

/* for close-modal */

/* css for moadl */