.fa{
    font-size: 20px;
    color: #337ab7;
}

.pole-info-list{
    padding-top: 8%;
    text-align: justify;
    /* background-color: aliceblue; */
}
/* 
.pole-info{
    background: aliceblue;
} */
.fa-calendar{
    margin-top: 10px;
}

.material-icons{
    position: absolute;
    right: 27px;
    font-size: 32px;
    margin-top: 13px;
}

.material-icons:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
