/* code by saba */
.add-poll{
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
}

.add-poll .card-header{
    background: linear-gradient(60deg,#ec407a,#d81b60);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
    display: inline-block;
    color: #fff;
    margin: -35px -6px 0;
    border-radius: 3px;
    padding: 12px;
    background-color: #999;
    position: relative;
    z-index:2;
    float: left;
}

.add-poll .card-title{
    margin-top: 0;
    margin-bottom: 3px;
    color: #fff;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.add-poll .card-content{
    padding: 30px 20px;
    position: relative;
    text-align: left;
  }

.pull-right{
    color:black;
}

.add-poll .card-footer{
 margin:20px 0px -30px;
padding-top: 10px;
text-align: center!important;
background-color: transparent;
 border-top: 0px solid rgba(0,0,0,.125);
}

.btn-rose{
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(60deg,#ec407a,#d81b60);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
     border: none;
     border-radius: 3px;
     position: relative;
     padding: 12px 37px;
     margin: -24px -13px;
     font-size: 20px;
     float: right;
     font-family: Roboto,Helvetica,Arial,sans-serif;
     font-weight: 300;
  }
  
  
  .btn-success[disabled]{
    background:linear-gradient(60deg,#ec407a,#d81b60);
    color: gray!important; 
    opacity: 1;
  }

.btn-danger{
    background: transparent;
    color:#d81b60;
    border-color: rgba(40, 167, 68, 0);
}


/* code by saba */