
/*Btn css*/
.existing{
  min-width: 400px;

}
.button
{
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    /* text-align: center; */
    color: #303342;
    font-size: 114%;
    font-weight: 500;
    /* margin: 10px; */
    padding: 9px;
    width: 220px;
    height: 30px;
    background: #FFF;
    border: 1px solid #303342;
    color: #303342;
    overflow: hidden;
    transition: all 0.5s;
}

 .selectedbtn ,.button:hover
{
  text-decoration: none;
  color: #FFF;
  border-color: #303342;
  background:#303342 ;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: #e4e9f4;
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

 .button:active span ,.button:hover span
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #303342;
  right: 0;
  top: 50%;
}

/*Form*/

.form-div{

      margin: 5% auto;

}

.arrayForm{
  margin-top: 3%;
}

.arrayRow{
    padding: 0% 3% 2% 1%;
    background: #f6f6f7;
    margin: 2%;
}

p{
  font-size: 15px;
}

.profilePic
{
  width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 4%;
    border: 3px solid white;
    box-shadow: 0px 9px 16px grey;
}

.profilePic1
{
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-bottom: 4%;
    border: 3px solid white;
    box-shadow: 0px 9px 16px grey;
}

.profilePic:hover{
    border-radius: 100%;
    opacity: 0.5;
}

.profilePic1:hover{
    border-radius: 20%;
    opacity: 0.5;
}



.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle !important;
}


.studentList 
{
  width:100%;  
  max-height: 200px;
  overflow:hidden;
  overflow-y:scroll;
 }

/* .custom-icon{
       position: relative; 
     top: 1px;  
 
   
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
} */

.loader {
  text-align: center !important;
}


.badge{
  float: right;
   /* margin-right: 5%; */
}

/* .view-btn{
  float: right;
} */

.student-image{
  width: 30px;
  border-radius: 100%
}

.inner-table{
  width: 100%;
    max-width: 100%;
    /* margin-bottom: 20px; */
}

.inner-table>tbody>tr>td, .inner-table>tbody>tr>th, .inner-table>thead>tr>td, .inner-table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top:none !important;
    border-right: 1px solid #ddd !important;
}
  .inner-table>thead>tr>td{
    border-bottom:1px solid #ddd !important;
  }


 .detail-table>tbody>tr>td{
  border-right:1px solid #ddd !important;
} 

.detail-table{
  border:1px solid #e9ecef;
}
.glyphicon-pencil{
  top:-32px !important;
}

.searchStu{
  margin-top:15px !important;
}


.list-btn{
  float: right;
    margin-top: -30px;
    background: none;
    border: none;
}

.pointer{
  cursor: pointer;
}

.pointer:hover{
  background: rgba(48, 51, 66, 0.04);
}

/* new code by saba */
.existing-card{
  
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
  }


.existing-card .header-card{
    background: linear-gradient(60deg,#ec407a,#d81b60);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
    display: inline-block;
    color: #fff;
    margin: -35px -6px 0;
    border-radius: 3px;
    padding: 12px;
    background-color: #999;
    position: relative;
    z-index:2;
    float: left;
  
}
.existing-card .card-title{
  margin-top: 0;
  margin-bottom: 3px;
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
}

.existing-card .card-content{
  padding: 30px 20px;
  position: relative;
  text-align: left;
}

.view-btn{
  margin-right: -10px;
  background: linear-gradient(60deg,#ec407a,#d81b60);
  border-color: #ea3d78;

}

.btn-success[disabled]{
  background:linear-gradient(60deg,#ec407a,#d81b60);
  color: gray!important; 
  opacity: 1;
}

.margin-top{
  margin-top:15px;
}

.student-card{
  width: 100%;
}

.btn-edit{
  width: 30%;
  margin: auto;
  display: block;
}

.profile-table{
  text-align: left;
  margin-bottom: 20px;
}

.btn-detail{
  background-color: #9c27b0!important;
  border-color: #9c27b0!important;
  box-shadow: 0 0 0 0.2rem rgb(156, 39, 176)!important;
}

.nav-tabs .nav-link.active {
  background-color: #9c27b0!important;
  color:white;
}

.fliter{
  margin: auto;
  text-align: right;
  padding-top: 23px;
}

.fliter p{
  margin-top: 10px;
}

.detail-card{
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius: 6px;
  color: rgba(0,0,0,.87);
  background: #fff;
}

.detail-card .header-card{
  background: linear-gradient(60deg,#ec407a,#d81b60);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
  display: inline-block;
  color: #fff;
  margin: -20px 42px 0;
  border-radius: 3px;
  padding: 12px;
  background-color: #999;
  position: relative;
  z-index:2;
  float: left;
}

.detail-card .card-title{
  margin-top: 0;
  margin-bottom: 3px;
  color: #fff;
  font-weight: 300;
  line-height: 1.5em;
}

.detail-card .card-content{
  padding: 30px 20px;
  position: relative;
  text-align: left;
}

.sibling-list-element{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius:6px;
  padding:15px;
  position:relative;
  margin-bottom: 5px;
  padding-right: 100px;
}

.sibling-list-element .add-remove-btn{
  position: absolute;
  right: 0;
  z-index: 1;
}

.sibling-list-element .add-remove-btn .btn{
  cursor: pointer;
}

.head-only{
 background: #9c27b0;
 color: white;
 text-align: center;
 padding: 10px;

}

.student-badge{
  background-color: #e63673;
  color: white;
  padding: 10px;
}

/* modal */
.modal-header{
background:#9c27b0;
color:white;
}


.load-btn{
 background: #9c27b0;
 border-color:#9c27b0; 
 border-radius:3px!important;
}
.btn-primary:not([disabled]):not(.disabled):active{
    background: #9c27b0;
    border-color:#9c27b0; 
}

.close{
  color:white;
}


.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active{
  color: #fff;
  background-color: #db2064;
  border-color: #db2164;
  box-shadow: 0 0 0 0.2rem rgba(219, 33, 100, 0.34);
}