.appreciation>ul{
  width: 100%;
  height : 100%;

}
.appreciation ul li{
  width: 50%;
}

.custom-icon{
  display: inline-block;
}
.standardLoad{
  position: absolute;
  top: 27%;
}


.nav-option  li{
  padding: 10px;
  background:white;
  text-align: center;
  font-family: sans-serif;
  /* box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28),
   0 4px 20px 0px rgba(0, 0, 0, 0.12), 
   0 7px 8px -5px rgba(156, 39, 176, 0.2); */
   border-radius: 3px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
   border:1px solid black;
   color:black;
}

.nav-option li a i{
  margin: -1px 5px 0 0;
  vertical-align: middle;
  padding: 0 10px;
}
.nav-option li:focus {
  outline: -webkit-focus-ring-color auto 0px!important;
}
.nav-option li a:focus, .nav-option li a:hover{
  color: black!important;
}

.nav-option li a{
  background: transparent;
  box-shadow: 0px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(156, 39, 176, 0.28),
  0 0 0 0 rgba(0, 0, 0, 0.12), 
  0 0 0 0 rgba(156, 39, 176, 0.2);
  /* color:black; */

  
}
.activeList{
background:#9c27b0!important;
box-shadow:  0 12px 20px -10px rgba(156, 39, 176, 0.28),
0 4px 20px 0px rgba(0, 0, 0, 0.12), 
0 7px 8px -5px rgba(156, 39, 176, 0.2)!important;
color:white!important;
}

.activeList:focus{
  outline: -webkit-focus-ring-color auto 0px!important;
}


/* //////////////////////////////////////for-me start/////////////////////////////////////////////////////////// */
/* new */
.table-card{
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius:3px!important;
  color: rgba(0, 0, 0, 0.87)!important;
  background: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  padding: 0px;
}

.table-card .card-header{
background:    linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 
  0 4px 20px 0px rgba(0, 0, 0, 0.12)
  , 0 7px 8px -5px rgba(156, 39, 176, 0.2);
  color: #FFFFFF;
  margin: -40px 15px 0;
  border-radius:3px!important;
  padding: 15px;
}

.table-card .nav-tabs{
  background: transparent;
  padding: 0;
  border: 0!important;
  border-radius: 3px;
}

.nav-tabs>li>a{
  background-color: transparent;
  border: 0 !important;
  color: #FFFFFF !important;
  font-weight: 500;
  padding: 10px 19px;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration-color: none;
 list-style: none;
}

.nav-tabs>li .material-icons{
margin:-1px 5px 0 0;
vertical-align: middle;
color: white;
}
.details{
  color:#555!important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
  font-weight:500;
  font-size: 14px;
  padding: 30px 19px;
  

}
.details thead th {
  color:#9c27b0!important;
}
.details tr td{
  padding: 10px;
  text-align: center;
}
.detail tr td .material-icons:hover{
  background: #9c27b0;
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 
  0 4px 20px 0px rgba(0, 0, 0, 0.12), 
  0 7px 8px -5px rgba(156, 39, 176, 0.2);   
  text-decoration: none;
}
.details thead th i{
  margin:-1px 5px 0 0;
  vertical-align: middle;
  color:#9c27b0!important;
}

.details tbody td img{
  width: 20%;
}

.badge{
  color:white;
  padding: 5px 10px;
}
.empty{
  padding: 16px;
}
.btn-block{
  background: #9c27b0;
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 
  0 4px 20px 0px rgba(0, 0, 0, 0.12), 
  0 7px 8px -5px rgba(156, 39, 176, 0.2); 
  width:10%;
  border-color: #9c27b0;
  margin: auto;
  display:block;
  
}
.details tbody td img{
  width: 20%;
}

/* *&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&for-me  end&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&77 */



/* add-appreciation css start */
.add-card{
display: inline-block;
position: relative;
width: 100%;
margin: 25px 0;
box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
border-radius: 6px;
color: rgba(0,0,0,.87);
background: #fff;
}

.add-card .card-header{
  background: linear-gradient(60deg,#ec407a,#d81b60);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
  display: inline-block;
  color: #fff;
  margin: -35px -6px 0;
  border-radius: 3px;
  padding: 12px;
  /* background-color: #999; */
  position: relative;
  z-index:2;
  float: left;
}

.add-card .card-title{
  margin-top: 0;
  margin-bottom: 3px;
  color: #fff;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.add-card .card-content{
  padding: 30px 20px;
  position: relative;
  margin-top:15px;
}

.pull-right{
  color:black;
}

.add-card .card-footer {
  margin:20px 0px -30px;
  padding-top: 10px;
  text-align: center!important;
  background-color: transparent;
   border-top: 0px solid rgba(0,0,0,.125);
}

.btn-rose{
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(60deg,#ec407a,#d81b60);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
   border: none;
   border-radius: 3px;
   position: relative;
   padding: 12px 37px;
   margin: -24px -13px;
   font-size: 20px;
   float: right;
   font-family: Roboto,Helvetica,Arial,sans-serif;
   font-weight: 300;
}


.btn-success[disabled]{
  background:linear-gradient(60deg,#ec407a,#d81b60);
  color: gray!important; 
  opacity: 1;
}

input[type="text"]{
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300; 
}


/* add-appreciation css end */