h1{

  font-weight: bold;
  letter-spacing: 0.1em;
}
.student > ul{
  width: 100%;  
}
.student > ul > li{
  width:50%;
}

.nav-option  li{
  padding: 10px;
  background:white;
  text-align: center;
 
  /* box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28),
   0 4px 20px 0px rgba(0, 0, 0, 0.12), 
   0 7px 8px -5px rgba(156, 39, 176, 0.2); */
   border-radius: 3px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
   border:1px solid black;
   color:black;
}

.nav-option li a i{
  margin: -1px 5px 0 0;
  vertical-align: middle;
  padding: 0 10px;
}
.nav-option li:focus {
  outline: -webkit-focus-ring-color auto 0px!important;
}
.nav-option li a:focus, .nav-option li a:hover{
  color: black!important;
}

.nav-option li a{
  background: transparent;
  box-shadow: 0px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(156, 39, 176, 0.28),
  0 0 0 0 rgba(0, 0, 0, 0.12), 
  0 0 0 0 rgba(156, 39, 176, 0.2);
  /* color:black; */

  
}
.activeList{
background:#9c27b0!important;
box-shadow:  0 12px 20px -10px rgba(156, 39, 176, 0.28),
0 4px 20px 0px rgba(0, 0, 0, 0.12), 
0 7px 8px -5px rgba(156, 39, 176, 0.2)!important;
color:white!important;
}

.activeList:focus{
  outline: -webkit-focus-ring-color auto 0px!important;
}

.student > ul>li.active>a, .student > ul>li.active>a:focus, .student > ul>li.active>a:hover {
    color: #f8f8f8;
    cursor: pointer;
    background-color: #337ab7;
}
