h1{
  font-family: 'Inconsolata';
  font-weight: bold;
  letter-spacing: 0.1em;
}
.homework ul{
  width: 100%;  
}
.homework  ul li{
  width:50%;
}
.image1{
  margin-left: auto;
    margin-right: auto;
    display: block;
    width: 275px;
    height: 180px;
    border-style: solid;
     
}
.sideimage{
    width: 149px;
    height: 180px;
    filter:blur(1px);  
}

.homework > ul>li.active>a, .homework > ul>li.active>a:focus, .homework > ul>li.active>a:hover {
    color: #f8f8f8;
    cursor: pointer;
    background-color: #337ab7;
}

form{
  background-color: white;
}

.form-group{
    border-style: none;
    background-color: inherit;
}

.exampleInputFile{
 background-color:#ea212e;
 padding: 10px; 
 border-radius: 5px;
 color: white;
 font-family: Arial;
 font-size: inherit;

}
.exampleInputFile:hover{
  background-color:#c51e28;
  cursor: pointer;
}

.custom{
  padding-left: 5px;
  font-size: 15px;
}
/*card-modal start*/

.modal-heading,.modal-class{
    background-color: #3a3838;
    color: white;
}

#myModal-card{
  text-align: center;
}

.modal-date{
  text-align: center;
}

.modal-description{
  padding: 2px 30px;
}

.modal-body{
  padding-left:0px !important;
  padding-right:0px !important;
}
/*card-modal end*/

.alternate-img{
  width: 120px;
  height: 120px;
}
.standardLoad{
  position: absolute;
  top: 27%;
}


/* new code by saba */

.nav-option  li{
  padding: 10px;
  background:white;
  text-align: center;
  font-family: sans-serif;
  /* box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28),
   0 4px 20px 0px rgba(0, 0, 0, 0.12), 
   0 7px 8px -5px rgba(156, 39, 176, 0.2); */
   border-radius: 3px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
   border:1px solid black;
   color:black;
}

.nav-option li a i{
  margin: -1px 5px 0 0;
  vertical-align: middle;
  padding: 0 10px;
}
.nav-option li:focus {
  outline: -webkit-focus-ring-color auto 0px!important;
}
.nav-option li a:focus, .nav-option li a:hover{
  color: black!important;
}

.nav-option li a{
  background: transparent;
  box-shadow: 0px;
  text-decoration: none;
  box-shadow: 0 0 0 0 rgba(156, 39, 176, 0.28),
  0 0 0 0 rgba(0, 0, 0, 0.12), 
  0 0 0 0 rgba(156, 39, 176, 0.2);
  color:black;
}

.activeList{
  background:#9c27b0!important;
  box-shadow:  0 12px 20px -10px rgba(156, 39, 176, 0.28),
  0 4px 20px 0px rgba(0, 0, 0, 0.12), 
  0 7px 8px -5px rgba(156, 39, 176, 0.2)!important;
  color:white!important;
  }
  
  .activeList:focus{
    outline: -webkit-focus-ring-color auto 0px!important;
  }



/* new code by saba */


/* add homework css start */
.add-homework{
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius: 6px;
  color: rgba(0,0,0,.87);
  background: #fff;
}

.add-homework .card-header
 {
  background: linear-gradient(60deg,#ec407a,#d81b60);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
  display: inline-block;
  color: #fff;
  margin: -35px -6px 0;
  border-radius: 3px;
  padding: 12px;
  background-color: #999;
  position: relative;
  z-index:2;
  float: left;
}



.add-homework .card-title{
  margin-top: 0;
  margin-bottom: 3px;
  color: #fff;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

.add-homework .card-content{
  padding: 30px 20px;
  position: relative;
  text-align: left;
  font-family:  Roboto,Helvetica,Arial,sans-serif!important;
}

.pull-right{
  color:black;
}

.card-footer{
  margin:20px 0px -30px;
  padding-top: 10px;
  text-align: center!important;
  background-color: transparent;
   border-top: 0px solid rgba(0,0,0,.125);
}


.btn-rose{
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(60deg,#ec407a,#d81b60);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
   border: none;
   border-radius: 50%;
   position: relative;
   padding:  9px 19px;
   margin: -33px -15px;
   font-size: 20px;
   float: right;
   font-family: Roboto,Helvetica,Arial,sans-serif;
   font-weight: 300;
   width:65px;
   height: 65px;
}


.btn-success[disabled]{
  background:linear-gradient(60deg,#ec407a,#d81b60);
  color: gray!important; 
  opacity: 1;
}

form{
  background-color: #ffffff00;
}

.add-icon{
    position: absolute;
    right: 27px;
    font-size: 32px;
    margin-top: 13px;
    cursor: pointer;
}

.add-icon:focus {
    outline: -webkit-focus-ring-color auto 0px;
}


/* add homework css end */