<div class="tab-pane">
  <!-- <div class="panel panel-default">

    <div class="panel-body" id="accordion">
      <span><i class="material-icons add-icon" [routerLink]="['/appreciation/add-appreciation']">alarm_add</i></span>
      <br>
      <div class="text-center">
         <loader [condition]="loader"></loader>
      </div>
      <div style="margin-top: 2%;padding-top: 1%;">
          <div  *ngIf="!EmptyComplaints">
            <div class="card" *ngFor="let c of complaints; let i = index;">
              <div class="row">
                <span class="glyphicon glyphicon-resize-full expand" data-toggle="modal" (click)="seletToExpand(c)" data-target="#myModal-card"
                  style="margin-bottom:10px;"></span>
              </div>
              <div class="row">
                <img class="image" [attr.src]="fileUrl + c.studentPicUrl">
              </div>
              <div class="row">
                <div class="name">
                  {{c.studentName}}
                </div>
              </div>
              <div class="row">
                <div class="class">{{c.standardName}}</div>
              </div>
              <hr class="style-line">
              <div class="row" style="text-align:center">
                <div class="title">
                  {{c.title}}
                </div>
              </div>
              <div class="row description">{{c.description}}</div>              
            </div>
          </div>
        </div>
        <div class="row" style="text-align: center" *ngIf="(EmptyComplaints)&&(!loader)&&(currentPage==1)"><b>No Appreciations are added to the view.</b></div>
          <div class="row" style="text-align: center" *ngIf="(EmptyComplaints)&&(!loader)&&(currentPage!=1)"><b>No more Appreciations are added to the view.</b></div>
        </div>


    <div class="panel-footer">
      <div class="text-center"><button (click)="nextComplaint()" type="button" *ngIf="!EmptyComplaints && !noMore" class="btn btn-primary">Load More</button></div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card table-card">
        <div class="card-header">
          <!-- <ul class="nav nav-tabs justify-content-end">
            <li><a href=""><i class="material-icons">sort</i>Sort</a></li>
            <li><a href=""><i class="material-icons">filter_list</i>Filter</a></li>
          </ul> -->
          Appreciations Added by me
          <a class="pull-right" [routerLink]="['/appreciation/add-appreciation']"><i class="material-icons" >note_add</i></a>
        </div>
        <div class="card-content">
          <table class="details table table-hover">
            <thead *ngIf="!EmptyComplaints">
              <tr>
                <th><i class="material-icons">date_range</i><span>Date</span></th>
                <th><i class="material-icons">face</i>Details</th>

                <th><i class="material-icons">attach_file</i>Title</th>
                <th><i class="material-icons">pin_drop</i>description</th>
              
              </tr>
            </thead>
            <tbody *ngFor="let c of complaints; let i = index;">
              <tr  class="tr-row">
                <td width="10%">
                  <span>{{c.createdAt | date :'dd-mm-yyyy'}}</span>
                  <span *ngIf="c.closedOn">-{{c.closedOn | date:'dd-mm-yyyy'}}</span>
                </td>
                <td width="10%">
                  <img src="assets/img/studentpic.png">
                  <br> {{c.studentName}}
                  <br>{{c.studentStandardName}}
                </td>
                <td width="20%">{{c.title}}</td>
                <td block width="10%">{{c.description}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <span style="text-align: center" *ngIf="(EmptyComplaints)&&(!loader)&&(currentPage==1)"><b>No Appreciations are added to the view.</b></span>
                  <span style="text-align: center" *ngIf="(EmptyComplaints)&&(!loader)&&(currentPage!=1)"><b>No more Appreciations are added to the view.</b></span>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="text-center">
            <button (click)="nextComplaint()" type="button" *ngIf="!EmptyComplaints && !noMore" class="btn btn-primary load-btn">Load More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal-card" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedComplaint">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">{{selectedComplaint.title}}</h4>
      </div>
      <div class="modal-body ">
        <div class="card-modal">

          <div class="row">
            <div class="modal-heading" style="margin-top:-14px">
              <img class="modal-image" [attr.src]="fileUrl + selectedComplaint.studentPicUrl">
            </div>
          </div>
          <div class="row">
            <div class="modal-name">{{selectedComplaint.studentName}}
              <div class="modal-class">{{selectedComplaint.standardName}}</div>
            </div>
          </div>
          <div class="row">
            <div class="modal-description">
              <span class="white-space"> {{selectedComplaint.description}}</span>
            </div>
          </div>
          <hr class="style-line">
          <div class="row">
            <div class="col-sm-3">
              <i class="glyphicon glyphicon-calendar calendar-custom pull-right"></i>
            </div>
            <div class="col-sm-9">
              <label class="heading">Created At</label>
              <div class="result">{{selectedComplaint.createdAt | date}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->