<div class="row text-center">
  <loader [condition]="loader"></loader>
</div>
<div style="margin-top: 2%;padding-top: 1%;">
  <!-- **************************************************new code.****************************************** -->
  <div class="card table-card">
    <div class="card-header">
      Appreciations For Me
      <!-- <ul class="nav nav-tabs justify-content-end">
          <li><a href=""><i class="material-icons">sort</i>Sort</a></li>
          <li><a href=""><i class="material-icons">filter_list</i>Filter</a></li>
        </ul> -->
    </div>
    <div class="card-content">
      <table class="details table table-hover">
        <thead *ngIf="!EmptyComplaints">
          <tr>
            <th>
              <i class="material-icons">date_range</i>
              <span>Date</span>
            </th>
            <th>
              <i class="material-icons">face</i>Details</th>

            <th>
              <i class="material-icons">attach_file</i>Title</th>
            <th>
              <i class="material-icons">pin_drop</i>description</th>
            <th>
              <i class="material-icons">settings</i>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of complaints; let i = index;">
            <td width="10%">
              <span>{{c.createdAt | date :'dd-mm-yyyy'}}</span>
              <span *ngIf="c.closedOn">-{{c.closedOn | date:'dd-mm-yyyy'}}</span>
            </td>
            <td width="10%">
              <img src="assets/img/studentpic.png">
              <br> {{c.studentName}}
              <br>{{c.studentStandardName}}
            </td>
            <td width="20%">{{c.title}}</td>
            <td width="10%">{{c.description}}</td>
            <td width="10%">
              <i class="material-icons">comment</i>
              <i class="material-icons" [style.color]="c.statusColor">delete_forever</i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <span style="text-align: center" *ngIf="(EmptyComplaints)&&(!loader)&&(currentPage==1)">
                <b>No Appreciations are added to the view.</b>
              </span>
              <span style="text-align: center" *ngIf="(EmptyComplaints)&&(!loader)&&(currentPage!=1)">
                <b>No more Appreciations are added to the view.</b>
              </span>
              <button (click)="nextComplaint()" type="button" *ngIf="!EmptyComplaints && !noMore" class="btn btn-primary">Load More</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


<!-- modal -->
<div class="modal fade" id="myModal-card" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedComplaint">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="gridSystemModalLabel">{{selectedComplaint.title}}</h4>
      </div>
      <div class="modal-body ">
        <div class="card-modal">

          <div class="row">
            <div class="modal-heading" style="margin-top:-14px">
              <img class="modal-image" [attr.src]="fileUrl + selectedComplaint.studentPicUrl">
            </div>
          </div>
          <div class="row">
            <div class="modal-name">{{selectedComplaint.studentName}}
              <div class="modal-class">{{selectedComplaint.standardName}}</div>
            </div>
          </div>
          <div class="row">
            <div class="modal-description">
              <span class="white-space"> {{selectedComplaint.description}}</span>
            </div>
          </div>
          <hr class="style-line">
          <div class="row">
            <div class="col-sm-3">
              <i class="glyphicon glyphicon-calendar calendar-custom pull-right"></i>
            </div>
            <div class="col-sm-9">
              <label class="heading">Created At</label>
              <div class="result">{{selectedComplaint.createdAt | date}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->